snippet debug "debug"
echo "<pre>";
print_r(${1});
echo "</pre>";
die();
endsnippet

snippet ?p "php tag"
<?php ${1}; ?>
endsnippet

snippet dum "php dump"
echo "<pre>";
dump(${1});
echo "</pre>";
die();
endsnippet

snippet conlog "log"
console.log(${1})
endsnippet
