configuration {
    display-drun: "Applications";
    display-window: "Windows";
    drun-display-format: "{icon} {name}";
    font: "JetBrainsMono Nerd Font 14";
    modi: "window,run,drun";
    show-icons: true;
    icon-theme: "papirus";
}

@theme "./rofi_dracula_theme.rasi"
